parameters:
	level: max
	paths:
	    - src
	stubFiles:
	    - stubs/SSH2.stub
	strictRules:
	    requireParentConstructorCall: false
	    noVariableVariables: false
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon